<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="groups" />
    </ion-buttons>
    <ion-title>{{group?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-textarea [(ngModel)]="messageText" placeholder="Type a message..." style="flex: 1;"></ion-textarea>
    <ion-buttons slot="end">
      <ion-button (click)="sendMessage()" fill="solid">Send</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>